.big{
    width: 345px;
    height: 271px;;
}
.small{
    width: 345px;
    height: 102px;
    display: flex;
    font-size: 13px;
    margin-top:10px;
}
.title{
    
    width: 345px;
}
b{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}
.lienQuan{
    font-size: 11px;
    margin-left: 3px;
    font-family: Arial,Helvetica,sans-serif;
}
.img{
    width: 120px;
    height: 90px;
}
.text{
    width: 215px;
    height: 72px;
    margin-left: 10px;
    font-family: Arial,Helvetica,sans-serif;
}
li{
    font-size: 12px;
    list-style: square;
    margin-left: -22px;
    font-family: Arial,Helvetica,sans-serif;
    
}
.a1{
    text-decoration: none;
    color: #777;
}
.a1:hover{
    text-decoration: underline;
    
}
.a2{
    text-decoration: none;
    color: #333;
}
.a2:hover{
    color:#78b43d ;
}
.involve{
    display: flex;
    margin-top: 22px;

}
.ul{
    height: 58px;
}
.list{
    background-color: rgb(183, 214, 183);
    margin-top: 0px;
    margin-top: -20px;

}
i{
    color:rgb(115, 160, 115);
}
.a3{
    text-decoration: none;
    color: #333;

}
.a3:hover{
    color: #692;
}