
input:checked {
    width: 400px;
    height: 30px;
}
a:link{
    color: yellow;
}
a:visited{
    color: rgb(195, 77, 93);
}
a:hover {
    color: black;
}
a:active{
    color: red;
}
.username:focus {
    width: 400px;
    height: 48px;
}
.pixel{
    width: 640px;
    height: 1600px;
    background-color: antiquewhite;
}